/*video*/
body, html {
	margin: 0;
	padding: 0;

}

.content {
    grid-area: content;
    padding: 10px;
    overflow: scroll;
    object-fit: cover;
    width: auto;
    height: auto;
}

video  {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -16%);
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	opacity: 0.8;
	z-index: 1;
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

/*text*/
#topbar-text {
    position: absolute;
    color: white;
    padding: 30px 30px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    font-family: 'PT Sans Narrow', sans-serif;
    z-index: 2;
}

.button {
	display: inline-block;
	width: 80px;
	opacity: 0.5;
}

.button:hover {
	opacity: 1;
	cursor: pointer;
}

}
/* text box on the video*/
.introduction {
	z-index: 2;
}

/* circle navigation */

.circle-navigation {
	margin-top: 650px;
	display: flex;
	flex-direction: row;
	vertical-align: center;
	position: relative;
	text-align: center;
    object-fit: cover;
}


.picbutton {
  position: relative;
  margin-left: 32px;
  margin-bottom: 150px;
  height: 200px;
  width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.img-circle {
	position: relative;
	width: 200px;
	height: 200px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.8;
	z-index: 2;
	filter: grayscale(100%);

}


.img-circle:hover {
	cursor: pointer;
	opacity: 1 ;
	filter: none;
}

.title {
	position: absolute;
	right: 30%;
	z-index: 3;
	font-size: 40px;
	font-family: 'PT Sans Narrow', sans-serif;
	opacity: 0.8;

}
